<h1>Shop the Look</h1>

<img src="assets/img/shop-look-model.png">

<p class="main-desc">Get this edgy look by combining our Wool Cardigan and Tiered Skirt. These items were made for eachother and you.</p>

<div class="items">
    <div class="item clearfix">
        <div class="left">
            <p class="name">Wool Cardigan</p>
            <p class="price">$59.99</p>
            <p class="desc">Long-sleeved, cardigan with patterned, woven fabric. Concealed buttons at front.</p>
        </div>
        <div class="right">
            <img src="assets/img/wool-cardigan.png">
        </div>
    </div>

    <div class="item clearfix">
        <div class="left">
            <p class="name">Tiered Skirt</p>
            <p class="price">$49.99</p>
            <p class="desc">Tiered skirt in jersey with a heavy drape. Texture-patterned elastic  waist.</p>
        </div>
        <div class="right">
            <img src="assets/img/tiered-skirt.png">
        </div>
    </div>
</div>

<input class="btn" type="button" value="TRY ON" ng-click="setItemStatus('try', 'wool')">
<input class="btn" type="button" value="BUY IN STORE" ng-click="setItemStatus('buy store', 'wool')">
<input class="btn" type="button" value="BUY AND SHIP" ng-click="setItemStatus('buy ship', 'wool')">