<h1>Current Conditions</h1>

<div class="weather clearfix">
    <div class="left">
        <span class="temp">{{weather.temperature}}&deg;F</span>
        <p>{{weather.summary}}</p>
    </div>
    <div class="right">
        <img src="assets/img/sun.png">
    </div>
</div>

<h1>Recommended Items</h1>

<div class="items">
    <div class="item clearfix">
        <div class="left">
            <p class="name">Textured Skirt</p>
            <p class="price">$39.99</p>
            <p class="desc">Flared skirt in thick, textured jersey with box pleats. Lined.</p>
        </div>
        <div class="right">
            <img src="assets/img/textured-skirt.png">
        </div>
    </div>
    <div class="item clearfix">
        <div class="left">
            <p class="name">Lace Sleeve Blouse</p>
            <p class="price">$29.99</p>
            <p class="desc">Straight-cut blouse in woven fabric with lace sections on sleeves and shoulders.</p>
        </div>
        <div class="right">
            <img src="assets/img/lace-sleeve-blouse.png">
        </div>
    </div>
    <div class="item clearfix">
        <div class="left">
            <p class="name">Wool Cardigan</p>
            <p class="price">$59.99</p>
            <p class="desc">Long-sleeved, cardigan with patterned, woven fabric. Concealed buttons at front.</p>
        </div>
        <div class="right">
            <img src="assets/img/wool-cardigan.png">
        </div>
    </div>
</div>
