<div class="page-dashboard">
    <div class="header-black"></div>

    <div class="columns">
        <div class="row clearfix">
            <div>Customer</div>
            <div>VIP</div>
            <div>Shop Look</div>
            <div>Virtual Stylist</div>
            <div>Shoptelligence</div>
            <div>Authentication</div>
            <div>Action</div>
        </div>
        <div class="row clearfix" ng-repeat="user in users">
            <div>{{ user.firstName }}</div>
            <div><span ng-show="user.vip">●</span></div>
            <div><span ng-show="user.shopLook">●</span></div>
            <div><span ng-show="user.virtualStylist">●</span></div>
            <div><span ng-show="user.shoptelligence">●</span></div>
            <div><span ng-show="user.authentication">●</span></div>
            <div>{{ user.action }}</div>
        </div>
    </div>
</div>