<div class="page-dashboard">
    <div class="header-black"></div>

    <div class="columns">
        <div class="row clearfix">
            <div>Customer</div>
            <div>VIP</div>
            <div>Shop Look</div>
            <div>Virtual Stylist</div>
            <div>Shoptelligence</div>
            <div>Authentication</div>
            <div>Action</div>
        </div>
        <div class="row clearfix" ng-repeat="user in users">
            <div>{{ user.firstName }}</div>
            <div><span ng-show="user.visited.vipExclusive">●</span></div>
            <div><span ng-show="user.visited.shopTheLook">●</span></div>
            <div><span ng-show="user.visited.virtualStylist">●</span></div>
            <div><span ng-show="user.visited.shoptelligence">●</span></div>
            <div><span ng-show="user.visited.authenticity">●</span></div>
            <div>{{ user.action }}</div>
        </div>
    </div>
</div>